<div class="flex-grow flex flex-col">
    <button type="button" 
        hx-get="/views/order_edit?order_id=0&client_id=0&branch_id=0&master_id=0&order_date=2018-01-26T18:30:09.453Z&completion_date=2018-01-26T18:30:09.453Z&total_amount=0&status=processing" 
        hx-trigger="click" 
        hx-target="#order_edit" 
        hx-swap="innerHTML" 
        class="rounded-lg bg-cyan-600 w-full">
        Add order
    </button>
    <ul class="flex flex-col gap-2 place-items-center">
    {% for order in orders %}
        <li 
            hx-get="/views/order_edit?order_id={{order.order_id.unwrap_or_default()}}&client_id={{order.client_id}}&branch_id={{order.branch_id}}&master_id={{order.master_id}}&order_date={{order.order_date}}&completion_date={{order.completion_date.unwrap_or_default()}}&total_amount={{order.total_amount.clone().unwrap_or_default()}}&status={{order.status}}"
            hx-trigger="click"
            hx-target="#order_view"
            hx-swap="innerHTML"
            class="rounded-lg bg-cyan-100 text-center">
            {{ order.status}} {{order.completion_date.unwrap_or_default()}}
        <li>
    {% endfor %}
    </ul>
</div>
